@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: 'Roboto', sans-serif;
    --pure-white:#ffffff;
    --prim-color:#5D38E0;
    --sec-color:#0000ff;
    --tert-color:#00ff00;
    --accent-color:#000000;
}

button{
    outline: 2px solid transparent!important;
    outline-offset: 2px!important;
}
.text-pure-white{
    color: var(--pure-white);
}
.noButton{
    @apply rounded-full bg-pureWhite text-prim border-prim border-2 px-6 py-2;
   }
.yesButton{
   @apply rounded-full bg-prim text-pureWhite border-transparent border-2 px-6 py-2;
}